<!--3.5 A Tweetable Service -->
<!--There is an outside Tweet Validator API that we want to use in our NoteWrangler application.-->
<!--We have already created a tweetable.js file and included it in our index.html file.-->
<!--Now, it's factory building time!-->

<!--1.) Let's create a Tweetable service to use the Tweet Validator API across our application.-->
<!--To begin, let's name our service ''Tweetable'', inject $http and have our factory function return an anonymous function.-->
<!--2.) nside the factory, make a POST request with the $http() function to this endpoint:-->
<!--http://gentle-spire-1153.herokuapp.com/tweet-->
<!--The service function should accept a single argument, potentialTweet, that will be sent to the external API.-->
<!--Use the Tweet Validator API documentation to determine how to construct the data of our POST request.-->
<!--Return your $http() call so we can use it later.-->
<!--Note: You cannot use $http.post() because the shortcut methods aren't available in these challenges.-->
<!--3.) Inject our brand spankin' new Tweetable service into NotesIndexController and-->
<!--then define a new tweetThatNote() function on $scope that we can use to query the remote API from our app.-->
<!--4.) Within our tweetThatNote() function, invoke the Tweetable service and console.log() the returned status.-->
<!--To use our new Tweetable service, our tweetThatNote() function should accept an argument, the description from a note, that we then pass into Tweetable().-->
<!--5.) Using the button tag within our notes/index.html template, invoke the new method we defined on $scope from NotesIndexController and pass in the note's description attribute.-->

<div class="note-wrapper">
  <div class="note-content">
    <div class="notes-header">
      <h1 title="Notes">Notes</h1>
    </div>
    <div class="note-wrapper">
      <a class="card-notes" ng-repeat="note in notes">
        <nw-card header="note.title" description="note.description" tweeted="note.tweeted" ng-href="#/notes/{{note.id}}"></nw-card>
        <button class="btn" ng-click="tweetThatNote(note.description) ">Tweet It!</button> <!--5-->
      </a>
    </div>
  </div>
</div>